body{
    background: linear-gradient(90deg, rgba(10, 2, 169, 0.243) 0%, rgba(15, 61, 110, 0.254) 35%, rgba(0, 213, 255, 0.174) 100%);
    font-family: 'Mukta', sans-serif;
}


/* 
h1{

}

h1  */

pre{
    font-size: 0.65vw;
}

p{
    font-size: 2.5vh;
    /* color:blueviolet; */
}
li{
    font-size: 2.2vh;
    /* color:rgb(43, 226, 58); */
}

.inputs{
    border-radius: 3px;
}

#cppBtn{
    border-radius: 5%;
    background-color: rgb(81, 142, 234);
    position: fixed;
    bottom: 1.5vh;
    right: 0.8vw;
    height: 13vh;
    width: 7vw;
    
}

#cppBtn p{
    font-size: 2vh;
}

#cppBtnTitle{
    margin-top: -1.4vh;
    text-align: left;
    margin-left: 0.7vw;
    /* border: 0px; */
}

#cppD-btn{
    margin-top: 1vh;
    height: 3vh;
    width: 5vw;
    margin-left: 1vw;
    color: #ffffff;
    border-radius: 5%;
    background-color:  rgb(30, 93, 211);
    border: 0px;
}
#cppD-btn:hover{
    border: 0px;
    background-color:blue;
    transition: 1s ease;
}




#mainMenuImage{
    width: 2vw;
    height: auto;
}

.menuImage{
    width: auto;
    height: 4.8vh;
}

#siteDescription-list{
    width: 70vw;
    /* margin-top: 2vw;
    margin-bottom: 2vw; */
    margin: auto;
    text-align: left;
}
#explanation{
    margin-top: -4vh;
    place-items: center;
    display: flex;
    float: left;
    margin-left: 24vw;
    width: 50vw;
    justify-content: space-evenly;
    /* border: black 4px solid; */
    margin-bottom: 4vh;
}

#wynik{
    text-align: right;
    width: 50%; 
    margin-right: -15%;
}

#opis-p{
    color:rgb(41, 195, 41);
    text-align: center;
    text-align: left;
    margin-left: 5%;
}

#opis-m{
    color:rgb(225, 33, 33);
    text-align: left;
    margin-left: 5%;
}

#opis-zal{
    margin-top: 3%;
    font-size: large;
    text-align: left;
    margin-left: 15%;
    width: 70%;

}

#code-cpp-P{
    margin-left: 19vw;
    height: 45vh;
    width: 60vw;
    justify-content: center;
    color:white;
    align-items: center;
    display: flex;
    background-color: rgb(31, 31, 31);
    border: rgb(0,162,232) 6px solid;
}
#code-cpp-Vig{
    margin-left: 19vw;
    height: 45vh;
    width: 60vw;
    justify-content: center;
    color:white;
    align-items: center;
    display: flex;
    background-color: rgb(31, 31, 31);
    border: rgb(63,72,204) 6px solid;
}

#code-cpp-Cez{
    margin-left: 24vw;
    height: 30vh;
    width: 50vw;
    justify-content: center;
    color:white;
    align-items: center;
    display: flex;
    background-color: rgb(31, 31, 31);
    border: rgb(153,217,234) 6px solid;
}


#code-cpp-Ver{
    margin-left: 10vw;
    height: 40vh;
    width: 80vw;
    justify-content: center;
    color:white;
    align-items: center;
    display: flex;
    background-color: rgb(31, 31, 31);
    border:rgb(98,60,210) 6px solid;
}

#code-cppS{
    margin-left: 3%;
    height: 100%;
    width: 60%;
    justify-content: center;
    color:white;
    align-items: center;
    display: flex;


}

#code-cppD{
    height: 100%;
    margin-left: 5%;
    width: 60%;
    justify-content: center;
    color:white;
    align-items: center;
    display: flex;


}
#code-cppM{
    height: 100%;
    margin-left: 5%;
    margin-right: 2%;
    width: 60%;
    justify-content: center;
    color:white;
    align-items: center;
    display: flex;


}


#container{

    margin-top: -9px;
    margin-left: -8px;
    /* width: 1920px; */
    /* height: 1000px; */
    /* background-color: rgb(255, 255, 255); */

}

#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    background-color: #ffffff;
}

#logo{
    /* align-items: center; */

    display: flex;
    place-items: center;
    margin-left: 5%;
    /* margin-top: -2vh; */
    width:35%;
    height: 100%;
    float: left;
}

#siteNav{
    
    place-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    height: 100%;
    width:60%;
    float: left;
}
   

    #siteNav a {
        text-decoration: none;
        color: inherit;
        transition: all 0.5s ease;
    }
    
    #siteNav a:hover {
        color: rgb(202, 95, 8);
    }

#siteEl{
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    height: 100%;
    place-items: center;
    display: flex;
    width: 8vh;
}

#lng-btns{
   
    display: flex;
    justify-content: space-evenly;
}

#lng-btn{
    margin-bottom: 2vh;
    border: 0px;
    cursor: pointer;
    width: 100px;
    height: 45px;
    border-radius: 15px;
    font-size: large;
    color: white;
    background-color: rgb(11,40,71);
}
#lng-btn:hover{
    background-color: rgb(18, 64, 116);
    transition: 0.8s ease;
}



#website-desc{
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 25vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
    /* background-color: black; */
    /* height: 30vh; */
    width: 50vw;
    border: black 2px solid;
}

#separator{
    position: fixed;
    top: 8vh;
    left: 0;
    width: 100vw;
    height: 2px;
    background: rgb(3, 0, 67);
    background: linear-gradient(90deg, rgb(3, 0, 70) 0%, rgba(11,40,71,1) 35%, rgba(0,212,255,1) 100%);
}

#separator2{
    /* margin-top: 84.5vh; */
    width: 100vw;
    height: 2px;
    background: rgb(3, 0, 67);
    background: linear-gradient(90deg, rgb(3, 0, 70) 0%, rgba(11,40,71,1) 35%, rgba(0,212,255,1) 100%);
}

#content{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly;
    place-items: center;
    display:contents; */
    width: 100vw;
    margin-bottom: 4vh;
    /* height: 110vh; */
    /* background-color: rgb(255, 255, 255); */
    /* background-color: black; */

}

#siteDescription-title{
    margin-top: 15vh;
}

#siteDescription{
    
    width: 100vw;
    margin-top: 4vh;
    text-align: center;
    
}

#siteDescription li{
    margin-left: 5vw;
    
}


#opis{
    width: 70%;
    text-align: center;
    margin-left: 15%;
}

#wikiTransfer{
    border: 0px;
    cursor: pointer;
    height: 45px;
    border-radius: 30px;
    font-size: large;
    color: white;
    background-color: rgb(11,40,71);
}
#wikiTransfer:hover{
    background-color: rgb(18, 64, 116);
    transition: 0.8s ease;
}

#example-input{
    place-items: center;
    display: flex;
    float: left;
    /* margin-left: 24vw; */
    width: 100%;
    justify-content: space-evenly;

}
#example-output{
    background-color: #ffffff;
    place-items: center;
    display: flex;
    float: left;
    margin-left: 24vw;
    width: 50vw;
    justify-content: space-evenly;
    border: black 4px solid;
    margin-bottom: 4vh;
}

#hash-btn{
    border: 0px;
    height: 45px;
    border-radius: 30px;
    font-size: large;
    color: white;
    background-color: rgb(11,40,71);
}
#hash-btn:hover{
    background-color: rgb(18, 64, 116);
    transition: 0.8s ease;
}

#example-output-h{
    margin-left: -15%;
    width: 20%;
}

#examples{
    display: flex;
    color:rgb(0, 0, 0);
    margin-left: 24vw;
    width: 50vw;
    float: left;
    
    align-items: center;
    height: 130px;
    margin-top: 4vh;
    /* justify-content: space-evenly; */
    margin-bottom: 4vh;
    background-color: rgb(255, 255, 255);
    border: black 4px solid ;
}

#hashEx{
    margin-top: 5vh;
    place-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    /* height:70vh; */
    width:90vw;
    float: left;
    margin-left: 5vw;
    
}

#ex{
    display: flex;
    flex-direction: column;  
    border-radius: 10px;
    border: solid 2px black;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    height: 42vh;
    width:25vw;
    float: left;
    background-color: rgb(255, 255, 255);
}

#ex-titleC{
    border-radius: 5px;
    text-align: center;
    /* margin-top: -22px;  */
    width: 100%;
    height: 50px;
    background-color: rgb(153,217,234);
}
#ex-titleP{
    border-radius: 5px;
    text-align: center;
    /* margin-top: -22px;  */
    width: 100%;
    height: 50px;
    background-color: rgb(0,162,232);
}
#ex-titleV{
    border-radius: 5px;
    text-align: center;
    /* margin-top: -22px;  */
    width: 100%;
    height: 50px;
    background-color: rgb(63,72,204);
}

#ex-desc{
    align-items: center;

    margin-left: 5%;
    width: 90%;
    height: 69%;
    background-color: rgb(255, 255, 255);
}

#ex-desc-btn{
    border: 0px;
    cursor: pointer;
    font-size: large;
    /* margin-left: 10%; */
    text-align: center;
    /* width: 80%; */
    height: 45px;
    margin-bottom: 2vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    border-radius: 30px;
    background-color: rgb(11,40,71);
    color: white;
}
#ex-desc-btn:hover{
    background-color: rgb(18, 64, 116);
    transition: 0.8s ease;
}

#lastEx{
    border-radius: 10px;
    margin-top: 5vh; 
    border: solid 2px black;
    margin-left: 9.4vw;
    /* margin-right: 5%; */
    /* margin-bottom: 5%; */
    /* height: 25vh; */
    width:80.9vw;
    float: left;
    background-color: rgb(255, 255, 255);
}

#last-ex-title{
    border-radius: 3px;
    text-align: center;
    margin-top: -22px; 
    width: 80.9vw;
    height: 50px;
    background-color: rgb(98,60,210);
}

#website-desc-title{
    color:white;
    border-radius: 3px;
    text-align: center;
    margin-top: -22px; 
    width: 100%;
    /* height: 50px; */
    background-color: rgb(49, 14, 153);
}

#last-ex-desc{
    cursor: pointer;
    align-items: center;
    font-size: x-large;
    
    margin-left: 5%;
    width: 90%;
    height: 48%;
    background-color: rgb(255, 255, 255);
}

#last-ex-desc-btn{
    border: 0px;
    cursor: pointer;
    font-size: large;
    margin-left: 35%;
    text-align: center;
    /* width: 30%; */
    height: 45px;
    margin-bottom: 2vh;
    border-radius: 30px;
    background-color: rgb(11,40,71);
    color: white;
}
#last-ex-desc-btn:hover{
    background-color: rgb(18, 64, 116);
    transition: 0.8s ease;
}

#footer{
    
    color:white;
    display: flex;
    place-items: center;
    width: 100vw;
    height: 20vh;
    background-color: rgb(11, 40, 71);
}

#footer-p{
    margin-left: 45%;
}